<nav class="navbar bg-dark">
  <li routerLinkActive="active" >
    <a [routerLink]="['']"> <h1>Online Shop</h1></a>
  </li>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/items']">items</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/favorites']">favorite</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/about']">About us</a>
    </li>

    <li routerLinkActive="active" class="profile-link">
      <a [routerLink]="['/profile']" style="display: flex; align-items: center; gap: 8px;">

        <ng-container *ngIf="(user$ | async) !== null; else genericProfileLink">
          <img
            [src]="(profileImageUrl$ | async) || 'images/nazarbaev.webp'"
            alt="Avatar"
            class="avatar-icon"
            loading="lazy"
          >
          <span>{{ (userName$ | async) || 'Profile' }}</span>
        </ng-container>

        <ng-template #genericProfileLink>
          <span>Profile</span>
        </ng-template>

      </a>
    </li>

    <ng-container *ngIf="(user$ | async) !== null; else showLogin">
      <li>
        <a (click)="onLogout()" style="cursor: pointer;">Logout</a>
      </li>
    </ng-container>

    <ng-template #showLogin>
      <li routerLinkActive="active">
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ng-template>

  </ul>

</nav>
<router-outlet></router-outlet>
